body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
}
#Calculator{
    font-family:Arial, Helvetica, sans-serif;
    border-radius: 10px;
    background-color: rgba(149, 148, 148, 0.796);
    max-width: 470px;
    overflow: hidden;
}
#display{
    width:100%;
    padding: 25px;
    font-size: 4rem;
    text-align: left;
    border: none;
    color: white;
    background-color: rgb(186, 184, 184);


}
#keys{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    gap:10px;
    padding: 20px;
}
button{
    width:64px;
    height:64px;
    border-radius: 50px;
    border: none;
    background-color: rgb(3, 2, 2);
    color:white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}
button:hover{
    background-color: rgb(63, 59, 38);
}
button:active{
    background-color: rgb(3, 1, 1);
}
.operator{
    background-color: rgba(250, 217, 34, 0.895);
}
.operator:hover{
    background-color: rgba(216, 194, 71, 0.895);
}
.operator:active{
    background-color: rgba(248, 211, 2, 0.895);
}